<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @user.name.capitalize %>,</p>
    <p><%= @body %></p>
    <p>Regards,</p>
    <p>Merlot's Art</p>
  </body>
</html>