<h2>New Licensee Application:</h2>
<hr/>
<br/>
<br/>
<strong>Name:</strong> <%= @licensee_application.full_name %><br/>
<strong>Email:</strong> <%= @licensee_application.email %><br/>
<strong>Interested Locations:</strong> <%= @licensee_application.interested_locations %><br/>
<strong>Comments:</strong> <%= @licensee_application.comments %><br/>
<hr/>
