<div class="hero-landing clearfix">
  <%= image_tag('hero_004.jpg', alt: 'hero image') %>
  <div class="hero-text">

    <div class="hero-blurb-alt">
      <h2>Find events to paint, sip, and get artsy</h2>
      <%= link_to('Explore Art Experiences', experiences_path(month: Date.today.month), class: "btn btn-default btn-experiences right") %>
    </div>
  </div>

</div>
<div class="privacy-policy">
</div>
