.first-about, .second-about, .third-about, .fourth-about {
  padding: 3em;
  img {
    position: relative;
    width: 100%;
    opacity: 0.7;
    margin-bottom: 2em;
  }
  p {
    margin-bottom: 2em;
  }
  h4 {
    font-size: 1.2em;
    font-weight: 600;
  }
  h2 {
    margin-bottom: 1em;
  }
}
@media screen and (max-width: 736px) {
  .fourth-about {
    padding: 0;
  }  
}
@media screen and (max-width: 667px) {
  .first-about {
    padding: 0;
  }  
}
@media screen and (max-width: 480px) {
  .first-about, .fourth-about {
    padding: 0;
  }  
}
@media screen and (max-width: 320px) {
  .fourth-about {
    padding: 0;
  }  
}
