
/* === Global Styles === */

body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  max-width: 1200px;
  background-color: #FCFCFC;
}

.required:after {
  content: "*";
  color: red;
}

.container-fluid {
  background-color: #FCFCFC;
  padding: 0;
}

a, a:visited {
  color: #BB2184;
}

label {
  margin-top: 1em;
}

textarea {
  height: 100px !important;
}

.notice {
  border: 1px solid green;
  padding: 1em;
  margin: 1em 0;
}


/* === Colors === */

.purple { color: #BB2184; }


/* === Mobile Responsive === */

@media screen and (max-width: 480px) {
  .hero-text {
    /*padding-bottom: 70px;*/
    font-size: 0.8em;
  }
  .hero-left-text {
    top: 15%;
    position: absolute;
  }
  .hero-landing {
    /*margin-bottom: 50px;*/
    text-align: center;
  }
  .experience-info .individual-class, .individual-class .box, .experience-info .individual-class img, .box .overbox {
    width: 100%;
  }
  .experience-info .individual-class .class-name {
    min-height: 0;
    width: 100%;
  }
}

@media screen and (min-width: 568px) and (max-width: 736px) {
  .experience-info .individual-class {
    float: left;
    width: 45%;
    margin: 0 2.5%;
  }
  .individual-class .box, .experience-info .individual-class img, .box .overbox {
    width: 100%;
  }
  .experience-info .individual-class .class-name {
    width: 100%;
    min-height: 0;
  }
}

@media screen and (max-width: 568px) {
  .month-links a {
    font-size: 0.8em;
    margin: 0 -15px;
  }
}

