.licensee-applications {
  background-color: #FFF;
  padding: 0 2em 2em 2em;

  h1 {
    margin-bottom: 1em;
  }

  .licensee-application-title {
    h2 {
      margin-top: 20px;
      margin-bottom: 10px;
      color: #BB2184;
      line-height: 1.3em;
    }
  }
}

