.navbar-header {
  padding-left: 1em;
  padding-top: 2px;
}

.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;

   a {
    font-weight: 100;
     color: #474747;
   }

   .navbar-brand {
    padding: 5px 0;
   }
}

.navbar li a {
  color: #fff;
  opacity: 0.9;
}

.navbar li a:hover {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 7px;
  padding: 7px;
  margin: 6px;
}

.licensee-link {
  border: 2px solid #fff !important;
  border-radius: 7px;
  padding: 7px !important;
  margin: 6px !important;
}

.licensee-link:hover {
  background-color: #BB2184 !important;
}

.navbar-nav {
  padding-right: 1em;
}

.top-nav-scroll {
  transition: all 0.5s ease;
  background-color: #FCFCFC;
  background: #FCFCFC;
  border-color: transparent;

  li a {
    color: #BB2184;
    opacity: 0.9;
  }

  li a:hover {
    background-color: transparent !important;
    border: 2px solid #BB2184 !important;
    border-radius: 7px;
    padding: 7px;
    margin: 6px;
  }

  .licensee-link {
    border: 2px solid #BB2184 !important;
    border-radius: 7px;
    padding: 7px !important;
    margin: 6px !important;
  }

  .licensee-link:hover {
    color: #fff;
    background-color: #BB2184 !important;
  }
}

.top-nav-scroll-reverse {
  transition: all 0.5s ease;
  background-color: transparent;
  background: transparent;
  border-color: transparent;
}

#logo-pink {
  display: none;
}

#logo-white {
}

@media only screen and (max-width: 766px) {
  .collapsing, .in {background-color: #F7F7F7;}
  .collapsing ul li a, .in ul li a {color: black !important;}
  .glyphicon-menu-hamburger {
    padding: 5px;
    border: 2px solid black;
    border-radius: 4px;
  }
}

.glyphicon-menu-hamburger {
  font-size: 1.3em;
}
