.overlay {
  background-size: 10%;
  background-image: image-url('pattern-overlay.png');
  background-repeat: repeat-y repeat-x;
  background-color: #262626;
  opacity: 0.9;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2000;
}

.overlay-close {
  float: right;
  padding: 1em;
  font-size: 1.7em;
  .glyphicon-remove:hover {
    text-decoration: underline;
  }
}

.overlay-content {
  font-size: 1.5em;
  text-align: center;
  ul {
    padding: 10em 0;
    list-style-type: none;
    margin: 0;
  }
  li a {
    color: white;
    text-decoration: none;
    &:hover {
      color: #BB2184;
    }
  }
}