.private-events-header {
  .hero-header {
    width: 200px;
  }
}

.private-event {
  padding: 5em;
  .private-event-form-top-left {
  }
}

.btn-private-events {
  margin-left: 1em;
}

.private-event-show {
  padding: 3em;
  table {
    width: 100%;
    margin-top: 3em;
    tr {
      padding: 1em 0;
    }
  }
}