.private-events-header {
  .hero-header {
    width: 200px;
  }
}

.private-event {
  padding: 5em;
  .private-event-form-top-left {
  }
}

.btn-private-events {
  margin-left: 1em;
}

.private-event-show {
  padding: 3em;
  table {
    width: 100%;
    margin-top: 3em;
    tr {
      padding: 1em 0;
    }
  }
}

.private-events-new {
  background-color: #FFF;
  padding: 0 2em 2em 2em;

  h1 {
    margin-bottom: 1em;
  }

  .private-events-title {
    h2 {
      margin-top: 20px;
      margin-bottom: 10px;
      color: #BB2184;
      line-height: 1.3em;
    }
  }

  .private-events-class-type {
    margin: 0 auto 1em auto;
    border: 1px solid #888;
  }

  .center-row {
    text-align: center;
    color: #fff;
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
    background-color: #79CBCB;
    font-weight: 700;
    font-size: 12px;

  }

  .center-left {
    padding: 0 5px;
    float: left;
    width: 50%;
    background-color: #666666;
    border-right: 1px solid #888;

    p { margin: 0; }
  }

  .center-right {
    padding: 0 5px;
    float: left;
    width: 50%;

    p { margin: 0; }
  }

  .bottom-row {
    padding: 5px;
    h4 {
      margin: 2px 0;
      font-weight: 700;
      font-size: 14px;
    }
    p {
      font-size: 12px;
    }
  }
}
