.show-class-info {
  padding: 7em 4em 3em 4em;
  h2 {
    font-size: 1.6em;
  }
  h3 {
    font-size: 1.3em;
    span {
      display: block;
      color: #8F8F8F;
    }
  }

  .boyb-info {
    margin-right: 1em;
    font-size: 0.8em;
  }

  .total {
    font-size: 1.3em;
    font-weight: bold;
  }

  img {
    max-height: 40%;
    max-width: 40%;
  }
}

.artist-bio {
  padding: 4em;
}

.class-rules {
  padding: 2em 5em;
  .fees {
    color: #8F8F8F;
  }
}

.add-on-box {
  input {
    margin: 0;
    padding: 0;
  }
}

.popover{
    min-width: 250px; /* Max Width of the popover (depending on the container!) */
}

/* mobile responsive */
@media screen and (max-width: 736px) {
  .show-class-info {
    padding: 2em 0em 1em 0em;
  }
  .artist-bio {
    padding: 0em;
  }
  .class-rules {
    padding: 1em;
  }
}
