.hero-landing {
  background: #000;
  position: relative;
  img {
    width: 100%;
    position: relative;
    opacity: 0.75;
  }
  .hero-text {
    .hero-blurb {
      position: absolute;
      right: 8%;
      width: 95%;
      top: 33%;
      max-width: 400px;
    }
    .hero-blurb-alt {
      position: absolute;
      right: 8%;
      width: 95%;
      top: 50%;
      max-width: 600px;

      .right {
        float: right;
      }

      h2 {
        color: #fff;
        text-align: right;
        // opacity: 0.7;
      }
    }
  }
  .hero-left-text {
    text-align: center;
    font-size: 1.8em;
    color: white;
    position: absolute;
    bottom: 2%;
    left: -7%;
    text-shadow: 1px 1px 1px #1B1B1B;
  }
  .hero-header {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 40%;
  }
}

.steps {
  background-color: #FFF;
  text-align: center;
  padding: 2em;
  h1 {
    margin-bottom: 1em;
  }
  img {
    height: 200px;
    margin-bottom: 2em;
  }
}

.private-events {
  background-image: image-url('pattern.png');
  background-repeat: repeat-y repeat-x;
  background-size: 10%;
  background-color: #F0F0F0;
  padding: 4em;
  h1 {
    margin-bottom: 1em;
  }
  img {
    opacity: 0.7;
  }
}

.btn-experiences {
  width: 250px;
  opacity: 0.9;
  margin-top: 1em;
  color: #fff !important;
  border: 2px solid #63ADB7;
  background: #63ADB7;
  border-radius: 6px;
  outline: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-text-shadow: none !important;
  -moz-text-shadow: none !important;
  text-shadow: none !important;
  &:hover {
    color: white;
    border: 2px solid #BB2184;
    background: #BB2184;
  }
}

.btn-experiences-inverse {
  color: #ffffff;
  border: 2px solid #BB2184;
  background: #BB2184;
  border-radius: 6px;
  outline: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-text-shadow: none !important;
  -moz-text-shadow: none !important;
  text-shadow: none !important;
  &:hover {
    color: #BB2184;
    border: 2px solid #BB2184;
    background: transparent;
  }
}

.btn-sold-out {
  color: #3E3E3E;
  border: 2px solid #CCCCCC;
  background: #CCCCCC;
  border-radius: 6px;
  outline: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-text-shadow: none !important;
  -moz-text-shadow: none !important;
  text-shadow: none !important;
  &:hover {
    color: #3E3E3E;
    border: 2px solid #CCCCCC;
    background: #CCCCCC;
  }
}

/* mobile responsive */
@media screen and (max-width: 736px) {
  .hero-header {
    display: none;
  }
  .steps {
    padding: 0;
  }
  .private-events {
    padding: 0;
    .private-events-info {
      h1 {
        text-align: center;
      }
      .btn-experiences {
        position: relative;
        left: 39%;
        margin-bottom: 20px;
      }
    }
  }
}
@media screen and (max-width: 568px) {
  .hero-blurb-alt {
    right: 0% !important;
    width: 100% !important;
    top: 40% !important;
    
    h2 {
      text-align: center !important;
    }
    .right {
      margin-right: 10px;
    }
  }
  .private-events .btn-experiences {
    position: relative;
    left: 35% !important;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 480px) {
  .hero-blurb-alt {
    right: 0% !important;
    width: 384px !important;
    
    h2 {
      text-align: center !important;
      margin: 0;
      font-size: 21px;
    }

    .right {
      float: none !important;
    }
  }
  .hero-header {
    display: none;
  }
  .steps {
    padding: 1em 0;
  }
  .private-events {
    padding: 0;

    h1 {
      font-size: 33px;
    }

    ul {
      padding: 19px;
      margin-bottom: 0px;
    }

    .btn-experiences {
      margin-top: 0;
      left: 27% !important;
      margin-bottom: 23px !important;
    }
  }      
}
@media screen and (max-width: 375px) {
  .hero-blurb-alt {
    width: 345px !important;

    h2 {
      text-align: center;
      font-size: 19px;
    }
  }
  .steps {
    h1 {
      font-size: 33px;
    }
  }
  .private-events {
    h1 {
      font-size: 24px;
    }
    .btn-experiences {
      left: 24% !important;
    }
  }
}
@media screen and (max-width: 320px) {
  .hero-blurb-alt {
    width: 290px !important;

    h2 {
      text-align: center;
      font-size: 16px;
    }

    .btn-experiences {
      left: 1.5% !important;
      margin-right: 0;
    }
  }
  .steps {
    h1 {
      font-size: 28px;
    }
  }
  .private-events {
    .btn-experiences {
      left: 19.5% !important;
    }
  }
}
